/*Principal*/
#principal {
    background-color: #b6ebe9;
    margin-left: 30%;
    padding-bottom: 42%;
}
#conbocadillo {
    background-color: #ffffff;
    border-radius: 25px;
    opacity: 0.5;
    margin-top: 10%;
    margin-left: 20%;
    padding-top: 24%;
    padding-bottom: 7%;
    position: absolute; 
    width: 34%;
}
#con {
    float: left;
    font-family: arial;
	margin-left: 3%;
    position: absolute;
    margin-top: 11%;
    margin-left: 21%;
	width: 30%;
}
#con p {
    padding: 15px 0px 15px 0px;
}
#con a:hover {
	color: #2f8f8c;
	font-weight: bold;
}