/*Menú izquierdo*/
/*Con los bloques siguientes configuro el fondo del <div>*/
.serviimg {
	background-image: url(./images/copo.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-color: #b6ebe9;
}
#backgroundizq {
	float: left;
	width: 35%;
	padding-top: 50%;
}
#bocadilloizq {
	position: absolute;
	background-color: #ffffff;
	border-radius: 25px;
	opacity: 0.5;
	margin-top: 15%;
	margin-left:2%;
	padding-top: 17%;
	float: left; 
	width: 31%;
}

/*Con los siguientes, el texto del menú izq*/
#textizq {
	border: none;
	float: left;
	margin-top: 17%;
	margin-left: 3%;
	margin-bottom: 50px;
	position: absolute;
	height: 400px;
	width: 30%;
}
#textizq ul {
	margin-top: 10px;
}
#textizq ul li {
    padding: 15px 0px 15px 0px;
}