/*Menú izquierdo*/
/*Con los bloques siguientes configuro el fondo del <div>*/
.ecoimg {
	background-image: url(./images/ecologia.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-color: #b6ebe9;
}
#backgroundizq {
	float: left;
	width: 35%;
	padding-top: 40%;
}
#bocadilloizq {
	position: absolute;
	background-color: #ffffff;
	border-radius: 25px;
	opacity: 0.5;
	margin-top: 10%;
	margin-left:2%;
	padding-top: 17%;
	float: left; 
	width: 31%;
}

/*Con los siguientes, el texto del menú izq*/
#textizq {
	border: none;
	float: left;
	margin-top: 12%;
	margin-left: 3%;
	margin-bottom: 50px;
	position: absolute;
	height: 400px;
	width: 30%;
}
#textizq a {
	color: #000000;
	font-family: arial;
	text-decoration: none;
}
#textizq a:hover {
	color: #2f8f8c;
	font-weight: bold;
}