/*Principal*/
#principal {
    background-color: #b6ebe9;
    margin-left: 30%;
    padding-bottom: 50%;
}
#formbocadillo {
    background-color: #ffffff;
    border-radius: 25px;
    opacity: 0.5;
    margin-top: 1%;
    margin-left: 20%;
    padding-top: 41%;
    padding-bottom: 7%;
    position: absolute; 
    width: 31%;
}
#formulario {
    float: left;
    font-family: arial;
	margin-left: 3%;
    position: absolute;
    margin-top: 2%;
    margin-left: 21%;
	width: 30%;
}

#formulario form p {
    font-family: arial;
    padding: 15px 0px 15px 0px;
}