/*Principal*/
#principal {
    background-color: #b6ebe9;
    margin-left: 30%;
    padding-bottom: 40%;
}
#servibocadillo {
    background-color: #ffffff;
    border-radius: 25px;
    opacity: 0.5;
    margin-top: 10%;
    margin-left: 20%;
    padding-top: 10%;
    padding-bottom: 7%;
    position: absolute; 
    width: 31%;
}
#servi {
    float: left;
    font-family: arial;
	margin-left: 3%;
    position: absolute;
    margin-top: 11%;
    margin-left: 21%;
	width: 30%;
}
#servi ul{
    margin-top: 20px;
}
#servi li {
    font-family: arial;
    padding: 15px 0px 15px 0px;
}