@font-face {
    font-family: General;
    src: url(/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: headers;
    src: url(/fonts/Lato-Regular.ttf);
}

@keyframes shake {
    10%, 90% {
        transform: translate(-1px, 0);
    }
    
    20%, 80% {
        transform: translate(2px, 0);
    }
  
    30%, 50%, 70% {
        transform: translate(-4px, 0);
    }
  
    40%, 60% {
        transform: translate(4px, 0);
    }
}


html {
    font-size: 16px;
    font-family: General, sans-serif;
}
a{
    font-family: General, sans-serif;
    text-decoration: none;
}
p {
    font-family: General, sans-serif;
}
h1{
    font-family: headers, sans-serif;
}
mark{
	color:#FF7A19;
}
.fill-div{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.h2enlace {
    color:#FF7A19;
    transition:0.2s;
}
.h2enlace:hover{
    color:#ff7a19;
    text-shadow: 0 0 2px black;
    font-weight:bold;
}
#header{
    font-weight: bold;
}
#hotto{
    background-color: #666;
    font-size: 40px;
}
#wrapper {
    background-image: linear-gradient(#24292E, #24292E, #00a3b2);
}
/*Cabecera*/
#head {
    background-color: #666;
    border-bottom: solid;
    border-color: #ff7a19;
    box-sizing: border-box;
    border-width: 0.5rem;
    height: 5rem;
    padding-top: 0.5rem;
    text-align: center;
}
#head h1{
    animation: shake 1s ease-in-out both;
    color: #16eaff;
}

/*Navegación*/
#navi {
	background-color: #24292E;
	padding-top: 1px;
	padding-bottom: 1rem;
}
#navi ul {
	list-style-type: none;
	margin-top: 1rem;
	text-align: center;
}
#navi li {
	display: inline;
	font-family: arial;
	text-align: center;
}
#navi li a {
	padding: 12px 19px 12px 19px;
    font-weight: bold;
	color: #FFFFFF;
	background-color: #24292E;
    text-decoration: none;
    transition: 0.4s;
}
#navi li a {
    border-bottom: solid;
    border-color: #00A3B2;
    border-width: 0.2rem;
	color: #a7a7a7;
}
#navi li a.active {
	padding: 12px 19px 12px 19px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #00A3B2;
	text-decoration: none;
}
/*Sección*/
#main_section {
    padding: 5% 0 0 0;
}
/*Huecos*/
.hueco {
    clear:both
}
/*Pie*/
#foot {
    background-color: #24292E;
    color: #a7a7a7;
    clear:both;
    padding: 20px 0 20px 0;
    text-align: center;
}
#foot a{
    color: #a7a7a7;
}
#foot a:hover{
    color: #00a3b2;
}