@font-face {
    font-family: General;
    src: url(/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: headers;
    src: url(/fonts/Lato-Regular.ttf);
}

@keyframes shake {
    10%, 90% {
        transform: translate(-1px, 0);
    }
    
    20%, 80% {
        transform: translate(2px, 0);
    }
  
    30%, 50%, 70% {
        transform: translate(-4px, 0);
    }
  
    40%, 60% {
        transform: translate(4px, 0);
    }
}

@keyframes appearDisappear {
	0%, 100% {
		opacity: 0;
	}
	20%, 80% {
		opacity: 1;
	}
}

html {
    font-size: 16px;
    font-family: General, sans-serif;
    
    background-color: #24292e;
}
a{
    font-family: General, sans-serif;
    text-decoration: none;
}
p {
    font-family: General, sans-serif;
}
h1{
    font-family: headers, sans-serif;
}
mark{
	color:#FF7A19;
}
.fill-div{
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}
.h2enlace {
    color:#FF7A19;
    transition:0.2s;
}
.h2enlace:hover{
    color:#ff7a19;
    text-shadow: 0 0 2px black;
    font-weight:bold;
}
#header{
    font-weight: bold;
}
#hotto{
    background-color: #666;
    font-size: 40px;
}
#wrapper {
    background-image: linear-gradient(#24292E, #24292E, #00a3b2);
}
/*Cabecera*/
#head {
    background-color: #666;
    border-bottom: solid;
    border-color: #ff7a19;
    box-sizing: border-box;
    border-width: 0.5rem;
    height: 5rem;
    padding-top: 0.5rem;
    text-align: center;
}
#head h1{
    animation: shake 1s ease-in-out both;
    color: #16eaff;
}

/*Navegación*/
#navi {
	background-color: #24292E;
	padding-top: 1px;
	padding-bottom: 1rem;
}
#navi ul {
	margin-top: 1rem;
	text-align: center;
}
#navi li {
    
	list-style-type: none;
	display: inline-block;
	font-family: arial;
	text-align: center;
}
#navi li a {
	padding: 12px 19px 12px 19px;
    font-weight: bold;
	color: #FFFFFF;
	background-color: #24292E;
    text-decoration: none;
    transition: 0.4s;
}
#navi li a:hover {
    border-bottom: solid;
    border-color: #00A3B2;
    border-width: 0.2rem;
	color: #a7a7a7;
}
#navi li a.active {
	padding: 12px 19px 12px 19px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #00A3B2;
	text-decoration: none;
}

/*.dropdowncontent {
    display: none;
    position: absolute;
    width:100px;
    text-align: center;
}

.dropdowncontent li {
    list-style-type: none;
    display: inline-block;
    margin: 100px 0 100px 0;
}*/

/*.dropdown {
    display: inline;
    justify-content: center;
    align-items: flex-start;
    height: 100px;
    width: 100px;
    background-color: #666;
}

.event {
    display: inline;
    flex-direction: column;
    justify-content: center;
    border: 1.5px solid #cdcfd3;
    border-radius: 3px;
    height: 36px;
    width: 280px;
    margin-top: 250px;
    padding: 0 16px;
    background-color: white;
}

.event__active{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.event:hover {
    cursor: pointer;
}

.structure {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 200px;
    width: 280px;
    overflow: scroll;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.structure > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}

.structure > div:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
}

.structure > div > a {
    margin-right: 4px;
}

.hide {
    display:none;
}*/

/*#navi {
	background-color: #24292E;

    padding-bottom: 1rem;
}
#navi ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#navi li {
	font-family: arial;
}
#navi li a, .dropbtn {
    display: inline-block;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    padding: 14px 16px;
	background-color: #24292E;
    text-decoration: none;
    transition: 0.4s;
}
#navi li a:hover, .dropdown:hover .dropbtn {
    border-bottom: solid;
    border-color: #00A3B2;
    border-width: 0.2rem;
	color: #a7a7a7;
}

#navi li.dropdown {
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #a7a7a7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#navi li a.active {
	padding: 12px 19px 12px 19px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #00A3B2;
	text-decoration: none;
}*/


/*Sección*/
#banner {
    border: 1px solid black;
    width:700px;
	height:400px;
    background-image:url('../media/images/electricidad.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    color:black;
    float:right;
	font-family:arial;
	font-size:35px;
    text-align:right;
    margin-top: 4%;
    margin-bottom: 4%;
	margin-left:auto;
	margin-right:15%;;
	text-shadow: 4px 4px red;
	animation: appearDisappear 3000ms ease-in infinite alternate backwards;
}
/*Huecos*/
.hueco {
    clear:both
}
/*Pie*/
#foot {
    background-color: #24292E;
    color: #a7a7a7;
    clear:both;
    padding: 10% 0 20px 0;
    text-align: center;
}
#foot a{
    color: #a7a7a7;
}
#foot a:hover{
    color: #00a3b2;
}