
html {
    font-size: 16px;
    font-family: "Lato", sans-serif;
}
p {
    font-family: "Ubuntu", sans-serif;
}
mark{
    background-color: #666;
    color:#FF7A19;
    font-size: 40px;
}
/*Cabecera*/
#head {
    background-color: #666;
    border-bottom: solid;
    border-color: #ff7a19;
    box-sizing: border-box;
    border-width: 0.5rem;
    height: 5rem;
    padding-top: 0.5rem;
    text-align: center;
}
#head h1{
    color: #16eaff;
}
/*Navegación*/
#navi {
	background-color: #24292E;
	padding-top: 1px;
	padding-bottom: 1rem;
}
#navi ul {
	list-style-type: none;
	margin-top: 1rem;
	text-align: center;
}
#navi li {
	display: inline;
	font-family: arial;
	text-align: center;
}
#navi li a {
	padding: 12px 19px 12px 19px;
    font-weight: bold;
	color: #FFFFFF;
	background-color: #24292E;
    text-decoration: none;
    transition: 0.4s;
}
#navi li a:hover {
    border-bottom: solid;
    border-color: #00A3B2;
    border-width: 0.2rem;
	color: #a7a7a7;
}
#navi li a.active {
	padding: 12px 19px 12px 19px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #00A3B2;
	text-decoration: none;
}
/*Menú izq*/
#left_menu {
    background-image: linear-gradient(#24292E, #00a3b2);
    padding-top: 5%;
    padding-bottom: 5%;
    width: 35%;
    position:relative;
}
#left-menu p{
    margin-top: 16px;
}

blockquote{
    color: #ddd;
}
blockquote a{
    color: #ddd;
    font-family: "ubuntu", sans-serif;
}
blockquote a:hover{
    color:#24292E;
    font-weight:bold;
}
#main_section {
    border-style: solid;
    box-sizing: border-box;
}
#footer {
    border-style: solid;
    box-sizing: border-box;
}