/*Menú izq*/
#left_menu {
    float: left;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 35%;
}
#left-menu p{
    margin-top: 16px;
}

blockquote{
    background-color: rgb(221, 221, 221, 0.5);
    border-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #16eaff;
    border-bottom-width: 6px;
    color: #24292E;
    padding: 1rem 1rem 1rem 1rem;
    margin-left: 50px;
    margin-right: 50px;
    transition: 0.3s;
}
blockquote:hover {
    border-bottom-color: #ff7a19;
}
blockquote a{
    color: #24292E;
    transition: 0.3s;
}
blockquote a:hover{
    color:#ff7a19;
    text-shadow: 0 0 2px black;
    font-weight:bold;
}
/*Sección*/
#main_section {
    padding: 5% 0 5% 0;
    margin-left: 35%;
}
/*Cajitas*/
article{
    background-color: rgb(221, 221, 221, 0.7);
    box-sizing:border-box;
    border-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #16eaff;
    border-bottom-width: 6px;
    float: left;
    padding: 1rem 1rem 1rem 1rem;
    margin-right: 50px;
    margin-bottom: 50px;
    height: 400px;
    width: 40%;
    transition: 0.3s;
}
article:hover {
    border-bottom-color: #ff7a19;
}
article h2{
	color: #16eaff;
}
#boxservicios{
    background-image: url(../media/images/servicios.jpg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
#boxservicios:hover{
    opacity: 1;
}
#boxcontacto{
    background-image: url(../media/images/contacto.jpg);
    opacity: 0.5;
}
#boxcontacto:hover{
    opacity: 1;
}
#boxpresupuesto{
    background-image: url(../media/images/presupuesto.jpg);
    opacity: 0.5;
}
#boxpresupuesto:hover{
    opacity: 1;
}
#boxecologismo {
    background-image: url(../media/images/ecologia.jpg);
    opacity: 0.5;
}
#boxecologismo:hover {
    opacity: 1;
}
figcaption {
	background-color:#CCC;
	margin:5px;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-width:1px;
	border-color:#000;
	padding:5px;
	font-family:arial;
	font-size:12px;
	color:#000;
	text-align:center;
}