/*Cajitas*/
article{
    background-color: rgb(221, 221, 221, 0.7);
    box-sizing:border-box;
    border-style: hidden;
    border-bottom-style: solid;
    border-bottom-color: #16eaff;
    border-bottom-width: 6px;
    float: left;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1% 1% 1% 1%;
    height: 400px;
    width: 31%;
    text-align: center;
    transition: 0.3s;
}
article:hover {
    background-color: rgb(221, 221, 221);
    border-bottom-color: #ff7a19;
}
article h2{
    color: #16eaff;
    text-align: center;
}
.markarticle {
    background-color: transparent;
    text-shadow: 0 0 3px #000;
}
figcaption {
	background-color:#79f4ff;
	margin:5px;
	margin-left:auto;
	margin-right:auto;
	border-style:solid;
	border-width:1px;
	border-color:#ff7a19;
	padding:5px;
	font-family:arial;
	font-size:12px;
	color:#000;
	text-align:center;
}